.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.header {
	color: #636363;
	text-transform: uppercase; 
	font-family: 'Raleway', sans-serif;
	font-size: .75em;
	font-weight: lighter;
}

.sub-header {
	font-family: 'Raleway', sans-serif;
	margin-top: 10px;
	font-size: 2em;

}

.button {
	font-family: 'Raleway', sans-serif;
	font-weight: bolder;
	text-transform: uppercase; 
	border: none;
	color: white;
	padding: 6px 10px 5px 10px;
	background: grey;
	border-radius: 5px;
}

.green {
	background: #579648;
}

.red {
	background: #424242;
}

.users {
	background: #d6d6d6;
	width: 80vw;
	display: block;
	/*flex-direction: column;*/
	/*align-items: center;*/
	border-radius: 20px;
}

.users > p.name > a {
	color: inherit;
	text-decoration: none;
}

.users > p {
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

.users > p.name {
	margin: 10px 0px 10px 0px;
	font-size: 1.5em;
	font-weight: bolder;
}

.users > p.name > .deleter {
	font-size: 50%;
	font-weight: lighter;
	text-decoration: none;
	color: #666;
}

p.users-header {
	margin: 20px 0px 20px 0px;
	font-weight: lighter;
	text-transform: uppercase;
}

.add-button {
	font-weight: bolder;
	border:none;
	color:white;
	background: #579648;
	font-size: 1.2em;
	padding-bottom: 3;
	padding-top: 0;
	border-radius: 13px;
}

.delete-button {
	font-weight: bolder;
	border:none;
	color:white;
	background: #cc0202;
	font-size: 1.2em;
	padding-bottom: 3;
	padding-top: 0;
	border-radius: 13px;
}

.input {
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	margin-right: 10px;
}

.form {
	margin: 20px 0px 20px 0px;
	display: flex;
	justify-content: center;
}

.card_container {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: #d6d6d6;
    width: 80vw;
    border-radius: 10px;
    padding-left: 5px;
	padding-right: 5px;
}

.card_container > img:last-child {
	margin-bottom: 20px;
}

.card {
	margin-top: 20px;
	margin-left:5px;
	margin-right:5px;
}

.extra {
	text-decoration: none;
	font-size: .70em;
	margin-bottom: 20px;
}

