{% extends "base.html" %}

{% block content %}
<form action="/admin/next" method="post">
    <input class="button green" type="submit" value="next round">
</form>

<div class=users>
	<p class="users-header"> players </p>
	{% for user in users %}
	    <p class=name>{{ user.name }} <a href='#' class=deleter onclick="del_user(event, '{{ user.name }}')">del</a></p>
	{% endfor %}
	<form action="/admin/add" method="post">
		<div class=form>
		    <input class=input id="name" type="text" name="name" value="">
		    <input class="add-button" type="submit" value="+">
		</div>
	</form>
</div>
{% endblock %}